@import "reset.css";


@keyframes exit {
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}
:root {
  --orange: #FF8B1E;
  --blue: #002D5A;
}

header {
  padding: 5px;
  width: 100vw;
  background: var(--orange);
}

.logo {
  fill: var(--blue);
  width: 150px;
  margin-left: 20px;
}

h1 {
  display: inline-block;
  font-size: 30px;
}

nav {
  display: inline-block;
  float: right;
  margin-top: 15px;
  margin-right: 100px;
}

.navElement {
  display: inline-block;
  color: black;
  padding-left: 30px;
  margin-top: 5px;
  font-size: 20px;
}

a {
  color: var(--blue);
  text-decoration: none;
}

.post  {
  width: 60vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding: 20px;
  border: solid 1px gray;
  border-radius: 10px;
  background: white;
}

.postTitle {
  color: rgb(50,50,150);
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.postContent {
  line-height: 1.5;
  background: rgb(245,245,245);
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.postAuthor {
  display: inline-block;
}

.postDate {
  float: right;
}

body {
  font-family: 'Roboto';
  background: url("../images/prism.png") repeat;

}

/* PAGE CONNEXION & CREATION */

.connexion__container {
  background: url("../images/background.jpg");
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.connexion__logo {
  width: 430px;
}

.connexion__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(255,255,255,0.8);
  padding: 20px;
}

.connexion_create {
  color: white;
  font-size: 18px;
}

.connexion_create:hover {
  color: #39B0CA;
}

.form__field {
  text-align: center;
  width: 330px;
  height: 40px;
  background: rgb(240,240,240);
  border-radius: 10px;
  font-size: 16px;
  border: none;

}

.form__label {
  color: black;
  width: 330px;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.form__submit {
  background: #FFFFFF;
  border-radius: 10px;
  width: 160px;
  height: 42px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
}

.indexLogo {
  text-align: center;
}


/* PAGE CREATION ARTICLE */

.createLabel {
  color: black;
  width: 330px;
}

.createInput {
  margin-bottom: 20px;
  padding: 5px;
  text-align: left;
  width: 100%;
  background: rgb(240,240,240);
  border-radius: 10px;
  font-size: 16px;
  border: none;
}


.container_alert {
  margin-top:10px;
  width: 100vw;
  height:auto;
  display: flex;
  justify-content: center;
}
.alert {
  height: 50px;
  width: 300px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: exit 6s forwards;
}

.red {
  background: #EC0707;
  border: #E32237 1px solid;
}

.green {
  background: #20CE43;
  border: #05ce68 1px solid;
}

.fire-container {
  height: 30px;
  width: 70px;
}

.fire {
  display: flex;
  align-items: center;
}
.fire img {
margin-right: 5px;
}

.fire_number {
  margin-top:2px;
}

.add_fire {
  margin-left: 5px;
  margin-top: 5px;
}

